html {
    box-sizing: border-box;
}

* {
    box-sizing: inherit;
}

body {
    font-family: Roboto, sans-serif;
    min-width: 320px;
    color: #000000;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.20;
    margin: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

ol {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

img,
svg {
    max-width: 100%;
    height: auto;
}

.paper {
    max-width: 1440px;
    background-color: #fff;
    margin: 0 auto;
    padding-top: 35px;
    padding-left: 150px;
    padding-right: 150px;
    padding-bottom: 50px;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding-left: 30px;
    padding-right: 30px;
}

.visually-hidden {
    position: fixed;
    transform: scale(0);
}

h1,
h2,
p,
figure {
    margin: 0;
}

.section {
    padding-top: 25px;
    padding-bottom: 25px;
}

.paper__title {
    font-weight: 900;
    font-size: 60px;
    line-height: 120%;
    margin-bottom: 30px;
}

.section__text {
    margin-bottom: 30px;
}

.container__wider {
    max-width: 1440px;
    margin: 0 auto;
}

.paper__block {
    padding: 25px 45px;
    background: #F1F1F1;
    border-radius: 10px;
}

.block__title {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 44px;
    line-height: 1.2;
}

.navigation__list {
    padding-left: 20px;
}

.navigation__item {
    font-size: 20px;
    line-height: 1.2;
    color: #02535F;
    margin-bottom: 10px;
}

.navigation__item:last-child {
    margin-bottom: 0;
}

.navigation__item:hover {
    text-decoration: underline;
}

.section__title {
    font-weight: 900;
    font-size: 36px;
    line-height: 120%;
    margin-bottom: 30px;
}

.section__image {
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 30px;
}

.section__image-no-margin {
    margin-bottom: 0;
}

.section__two-part {
    display: flex;
    gap: 30px;
    margin-bottom: 30px;
}

.two-part__text {
    flex-basis: 45%;
}

.section-no-margin {
    margin-bottom: 0;
}

.section__text-no-margin {
    margin-bottom: 0;
}

.conclusion__container {
    background: #F1F1F1;
    border-radius: 10px;
    padding: 25px 180px 25px 45px;
}

.section__figure {
    border: 1px solid #5E5E5E;
    margin-bottom: 30px;
}

.image__figcaption {

    padding: 15px 30px;
    color: #5E5E5E;
}

.conclusion__list {
    margin-bottom: 30px;
}

.conclusion__item {
    margin-bottom: 10px;
}

.conclusion__item:last-child {
    margin-bottom: 0;
}

.conclusion__text {
    padding-bottom: 0;
}